In [3]:
import pandas as pd

from saga.experiment.ml import load_dataset

data = load_dataset(cache=True)

Loading dataset...

In [4]:
# Each datapoint is a dictionary with the following keys
#   instance_id: each pair of (task_graph, network) is a unique instance
#   task_graph: the task graph
#   network: the network
#   topolocial_sort: the topological sort of the task graph used for scheduling
#   makespan: makespan of the task graph on the network (using the HEFT scheduler) 
data[0]

{'instance': 0,
 'task_graph': <networkx.classes.digraph.DiGraph at 0x7f37b5f9b910>,
 'network': <networkx.classes.graph.Graph at 0x7f3783e07430>,
 'topological_sort': [0, 2, 6, 5, 1, 4, 3, 7],
 'makespan': 5.237455050822116}

In [24]:
cols = ["instance", "topological_sort", "makespan"]
df = pd.DataFrame({k: [d[k] for d in data] for k in cols})
df.head()

   instance          topological_sort  makespan
0         0  [0, 2, 6, 5, 1, 4, 3, 7]  5.237455
1         0  [0, 2, 6, 5, 1, 3, 4, 7]  5.786633
2         0  [0, 2, 6, 1, 4, 3, 5, 7]  5.237455
3         0  [0, 2, 6, 1, 4, 5, 3, 7]  5.237455
4         0  [0, 2, 6, 1, 3, 5, 4, 7]  5.786633

In [26]:
# keep only topological_sort with lowest makespan
df_best = df.loc[df.groupby(by=["instance"])['makespan'].idxmin()]
df_best.head()

     instance          topological_sort  makespan
0           0  [0, 2, 6, 5, 1, 4, 3, 7]  5.237455
148         1  [0, 1, 2, 4, 3, 6, 5, 7]  4.006290
201         2  [0, 1, 4, 3, 2, 5, 6, 7]  4.197011
296         3  [0, 1, 2, 6, 5, 4, 3, 7]  2.965933
320         4  [0, 2, 6, 5, 1, 4, 3, 7]  3.986777