In [1]:
import pandas as pd

from saga.experiment.ml import load_dataset

data = load_dataset(
    cache=True,
    task_graph_levels=3,
    task_graph_branching_factor=2,
    network_nodes=5,
    num_instances=1000
)

Generating dataset...
Progress: 100.00%
Loading dataset...

In [2]:
# Each datapoint is a dictionary with the following keys
#   instance_id: each pair of (task_graph, network) is a unique instance
#   task_graph: the task graph
#   network: the network
#   topolocial_sort: the topological sort of the task graph used for scheduling
#   makespan: makespan of the task graph on the network (using the HEFT scheduler) 
data[0]

{'instance': 0,
 'task_graph': <networkx.classes.digraph.DiGraph at 0x7fb0229ef7c0>,
 'network': <networkx.classes.graph.Graph at 0x7fb023e4f280>,
 'topological_sort': [0, 2, 6, 5, 1, 4, 3, 7],
 'makespan': 3.6102616089254136}

In [3]:
cols = ["instance", "topological_sort", "makespan"]
df = pd.DataFrame({k: [d[k] for d in data] for k in cols})
df.head()

   instance          topological_sort  makespan
0         0  [0, 2, 6, 5, 1, 4, 3, 7]  3.610262
1         0  [0, 2, 6, 5, 1, 3, 4, 7]  3.156220
2         0  [0, 2, 6, 1, 4, 3, 5, 7]  3.169518
3         0  [0, 2, 6, 1, 4, 5, 3, 7]  3.405217
4         0  [0, 2, 6, 1, 3, 5, 4, 7]  3.121260

In [4]:
# keep only topological_sort with lowest makespan
df_best = df.loc[df.groupby(by=["instance"])['makespan'].idxmin()]
df_best.head()

     instance          topological_sort  makespan
56          0  [0, 1, 2, 6, 5, 4, 3, 7]  2.976237
80          1  [0, 2, 6, 5, 1, 4, 3, 7]  5.185296
176         2  [0, 2, 1, 4, 3, 6, 5, 7]  3.425836
248         3  [0, 2, 5, 1, 4, 3, 6, 7]  4.542070
352         4  [0, 2, 1, 6, 3, 5, 4, 7]  2.941437